@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800,400);
@import url(http://fonts.googleapis.com/css?family=Montserrat:300,800,400);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

* {
  background: rgba(0, 0, 0, 0.05); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding-top: 30px;
  position: relative; }

main > section, header > div, footer > div {
  *zoom: 1;
  width: auto;
  max-width: 1024px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }
  main > section:before, main > section:after, header > div:before, header > div:after, footer > div:before, footer > div:after {
    content: '';
    display: table; }
  main > section:after, header > div:after, footer > div:after {
    clear: both; }

header h1 {
  width: 33.3333%; }
header nav {
  width: 100%;
  *zoom: 1; }
  header nav:before, header nav:after {
    content: '';
    display: table; }
  header nav:after {
    clear: both; }
  header nav ul {
    *zoom: 1;
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 65.66667%;
    margin-left: 0%;
    margin-right: 3%; }
    header nav ul:before, header nav ul:after {
      content: '';
      display: table; }
    header nav ul:after {
      clear: both; }
    header nav ul:before, header nav ul:after {
      content: '';
      display: table; }
    header nav ul:after {
      clear: both; }
    header nav ul:last-child {
      margin-right: 0%; }
    header nav ul li {
      float: left; }
  header nav form {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.33333%;
    margin-left: 0%;
    margin-right: 3%; }
    header nav form:before, header nav form:after {
      content: '';
      display: table; }
    header nav form:after {
      clear: both; }
    header nav form:last-child {
      margin-right: 0%; }

div.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 30px; }
  div.fixed > div {
    *zoom: 1;
    width: auto;
    max-width: 1024px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0; }
    div.fixed > div:before, div.fixed > div:after {
      content: '';
      display: table; }
    div.fixed > div:after {
      clear: both; }

section article {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.66667%;
  margin-left: 0%;
  margin-right: 3%; }
  section article:before, section article:after {
    content: '';
    display: table; }
  section article:after {
    clear: both; }
  section article:last-child {
    margin-right: 0%; }
section aside {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%; }
  section aside:before, section aside:after {
    content: '';
    display: table; }
  section aside:after {
    clear: both; }
  section aside:last-child {
    margin-right: 0%; }

header h1 img {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  max-width: 100%; }

.fixed {
  text-align: right; }
  .fixed p {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    line-height: 30px; }

input[type='submit'] {
  display: none; }
