//
//BASE
//

@include edit();

* {
	@include box-sizing(border-box);
}

body {
	@extend %main-font;
	padding-top: 30px;
	position: relative;
}

main > section,
header > div,
footer > div {
	@include center(1024px);
}

header {
	h1 {
		width: 33.3333%;
	}
	nav {
		width: 100%;
		@include cf();
		ul {
			@include cf();
			@include col(6/9);
			li {
				float: left;
			}
		}
		form {
			@include col(3/9);
		}
	}
}

div {	
	&.fixed {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		height: 30px;
		> div {
			@include center(1024px);
		}
	}
}

section {
	article {
		@include col(2/3);
	}
	aside {
		@include col(1/3);
	}
}
