//
//FONTS
//

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800,400);

%main-font{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
%light {
	font-weight: 300;
}
%xbold {
	font-weight: 800;
}
