//
//HEADER
//

header {
	h1 {
		img {
			@include inline-block;
			max-width: 100%;
		}
	}
}
.fixed {
	text-align: right;
	p {
		@include inline-block;
		line-height: 30px;
	}
}
input[type='submit'] {
	display: none;
}
